{% extends 'base.html' %}
{% block title %}
    Contactos
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <table id="table" class="table table-responsive table-striped table-hover">
                <thead>
                    <th>Id</th>
                    <th>Compañia</th>
                    <th>Persona Contacto</th>
                    <th>Continuar</th>
                </thead>
                <tbody>
                    {% for contact in contact_list %}

                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.company }}</td>
                            <td>{{ contact.person }}</td>
                            <td>
                                <a href="{% url 'view_contact' contact.pk %}" class="btn btn-default btn-xs">Ver</a>
                                <a href="{% url 'edit_contact' contact.pk %}" class="btn btn-warning btn-xs">Editar</a>
                                {% if  user.is_superuser %}
                                    <button onclick="Delete({{ contact.pk }})" class="btn-xs btn-danger btn">Borrar</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success pull-right" href="{% url "contact_create" %}">Nuevo Contacto</a>
            <br/><br/>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script src="{{ STATIC_URL }}js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#table').DataTable();
        });
        function Delete(pk){
            var result = confirm("Want to delete?");
            if (result) {
                var url = '/clients/delete/' + pk;
                window.location = url;
                //Logic to delete the item
            }
        }

        function Delete(pk){
            var result = confirm("Estas seguro que deseas borrar este caso?");
            if (result) {
                DeleteSure(pk);
            }
        }
        function DeleteSure(pk){
            var result = confirm("Acuerdate que si estas cagandola Jorge se va a molestar!!, quieres borrar el caso?");

            if (result) {
                console.log('entre');
                var url = '/contact/delete/' + pk;

                window.location.href = url

                //Logic to delete the item
            }
        }
    </script>
{% endblock %}
{% block extracss %}
    <link href="{{STATIC_URL}}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}