{% extends 'base.html' %}
{% block title %}
    Lista de Casos
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table id="table" class="table-responsive table table-striped table-hover">
                <thead>
                    <th>Caso</th>
                    <th>Tipo</th>
                    <th>Estatus</th>
                    <th>Prioridad</th>
                    <th>Accion</th>
                </thead>
                <tbody>
                    {% for case in cases %}

                        <tr>
                            <td>{{ case.title }}</td>
                            <td>{{ case.type }}</td>
                            <td>{{ case.status }}</td>
                            <td>

                                {% if case.status == 'Abierto' %}
                                    {% if case.priority == 'Alta' %}
                                        <span class="alert-danger">{{ case.priority }} !!!</span>
                                    {% elif case.priority == 'Media' %}
                                        <span class="alert-warning">{{ case.priority }} !!</span>
                                    {% else %}
                                        <span class="alert-success">{{ case.priority }} !</span>
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td>
                                <a href="{% url 'view_case' case.pk %}" class="btn btn-default btn-xs">Ver</a>
                                <a href="" class="btn btn-default btn-xs">Editar</a>
                                {% if user.is_superuser %}<button onclick="Delete({{ case.pk }})" class="btn btn-danger btn-xs">Borrar</button>{% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script src="{{ STATIC_URL }}js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#table').DataTable();
        });

        function Delete(pk){
            var result = confirm("Estas seguro que deseas borrar este caso?");
            if (result) {
                DeleteSure(pk);
            }
        }
        function DeleteSure(pk){
            var result = confirm("Acuerdate que si estas cagandola Jorge se va a molestar!!, quieres borrar el caso?");

            if (result) {
                console.log('entre');
                var url = '/case/delete/' + pk;

                window.location.href = url

                //Logic to delete the item
            }
        }
    </script>
{% endblock %}
{% block extracss %}
    <link href="{{STATIC_URL}}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}